$progress_font-size: 24px;

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 140px;
  border: 1px dashed gray;
  padding: 6px;
  overflow-wrap: break-word;
  position: relative;

  ::ng-deep .spinner {
    nb-spinner {
      background: none;
    }
  }

  &:hover {
    border-color: #40a9ff;
  }

  .main-icon-wrapper {
    color: #40a9ff;
    font-size: 48px;
    margin-bottom: 6px;;
    text-align: center;
  }

  .feat-hint {
    font-size: 14px;
    color: #00000073;
    bottom: 2px;
    text-align: center;
  }

  .feat-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.last_sync_date {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0,0,0,.45);
}

.sync_containner {
  display: flex;
  margin-left: 10px;

  .sync_button {
    width: 200px;
  }

  .spinner {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep .progress_container {
    nb-icon {
      font-size: 32px;
    }
  }

  .mat-icon {
    width: $progress_font-size;
    height: $progress_font-size;
    font-size: $progress_font-size;
  }

  .progress_container {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}
