<nz-layout class="container">
  <nz-sider nzTheme="light">
    <ul nz-menu nzTheme="light">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/sync-code">
          <i nz-icon nzType="sync" nzTheme="outline"></i>
          <span>Sync Code</span>
        </a>
      </li>
      <!-- <li nz-menu-item nzMatchRouter>
        <a routerLink="/rcaeda">
          <i nz-icon nzType="control" nzTheme="outline"></i>
          <span>Light RCAEDA Analyze</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/auto-commit">
          <i nz-icon nzType="field-time" nzTheme="outline"></i>
          <span>Auto Commit</span>
        </a>
      </li> -->
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/profile">
          <i nz-icon nzType="profile" nzTheme="outline"></i>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="padding: 24px;">
    <nz-content style="background-color: white;">
      <div class="content_container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
